@import url('https://fonts.googleapis.com/css?family=Creepster|Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

* {
	box-sizing: border-box;
}

p {
	font-size: 20px;
	font-family: 'Creepster', cursive;
	color: green;
}

#playfield {

	box-sizing: content-box;
	width: 640px;
	height: 480px;           

	border: 4px solid black;

	/* makes sure objects don't move beyond edge of box */
	overflow: hidden;

	/* makes the cursor a hand */
	/*cursor: grab;
	*/
	cursor: url('./resources/swatter.png') 16 16, grab;
	/* makes it possible to position child elements absolutely */
	position: relative;
}

#headline {
	font-family: 'Creepster', cursive;
	color: green;
	font-size: 20px;
}

#gameMessage {
	font-family: 'Boogaloo', cursive;
	font-size: 28px;
	color: black;
	width: 100%;
	height: 100%;
	display: flex;
	/* center everything */
	align-items: center;
	justify-content: center;
}

#HS {
    font-family: 'Orbitron', sans-serif;
	color: brown;
	font-size: 24px;
}

#highScores {
	font-family: 'Orbitron', cursive;
	flex: right;
	color: brown;
	font-size: 28px;
	font-style: italic;
}